#smile-ui-container {
  z-index: 22 !important;
}

#smile-ui-container > div {
  bottom: 52px !important;
  left: 10px !important;
}

#CookiebotWidget {
  z-index: 23 !important;
  bottom: 54px !important;
}
