@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-brand-dark-grey placeholder:text-brand-dark-grey;
  }
  .link-animation {
    @apply transition-colors duration-100 ease-in-out;
  }
  .bottom-up-black-gradient {
    @apply bg-gradient-to-t from-black/80 from-0% to-black/20 to-30%;
  }
  .letter-spacing-2 {
    letter-spacing: 20%;
  }
}

@layer utilities {
  :root {
    --smooth-bezier: cubic-bezier(0.16, 1, 0.3, 1);
    --header-height: 44px;
    --announcement-bar-height: 44px;
    --font-mono: 'Fira Code', monospace;
    --font-sans: 'Helvetica Neue', sans-serif;
    --font-nature-lab-body: 'Sono', sans-serif;
    --font-nature-lab-heading: 'Merriweather', serif;
  }

  body {
    font-display: swap;
  }

  .top-offset {
    top: calc(var(--header-height) + var(--announcement-bar-height));
  }

  .no-scroll {
    overflow: hidden;
    padding-right: 15px; /* Approx. width of scrollbar */
  }
}

@layer utilities {
  .with-brand-dark-grey {
    --brand-dark-grey: #1c1b1b;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/merriweather-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* sono-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sono';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/sono-v6-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* sono-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Sono';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/sono-v6-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Helvetica Neue regular */
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/helvetica-neue-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Helvetica Neue mediu */
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/helvetica-neue-medium.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Helvetica Neue bold */
@font-face {
  font-display: swap;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/helvetica-neue-bold.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* TODO see if this can be turned into tailwind/see how Shadcn does it */
.AccordionContent {
  overflow: hidden;
}
.AccordionContent[data-state='open'] {
  animation: slideDown 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
.AccordionTrigger[data-state='open'] {
  animation: rotateDown 300ms cubic-bezier(0.19, 1, 0.22, 1);
}
.AccordionTrigger[data-state='closed'] {
  animation: rotateUp 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes rotateDown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

/* Dropdown menu animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: scaleY(0); */
    height: 0;
  }
  to {
    opacity: 1;
    /* transform: scaleY(1); */
    height: 440px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

.NavigationMenuItems {
  transform-origin: top;
  will-change: transform, opacity;
}

.NavigationMenuContent[data-state='open'] .NavigationMenuItems {
  animation: fadeIn 300ms ease-out;
}

.NavigationMenuContent[data-state='closed'] .NavigationMenuItems {
  animation: fadeOut 300ms ease-in;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner,
.flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}

.heartbeat {
  position: absolute;
  width: fit-content;
  background: black;
  border-radius: 40px;
  width: 32px;
  height: 32px;
  opacity: 0.75;
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}
